apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: 281762848319.dkr.ecr.us-east-1.amazonaws.com/myapp:6e7412e063b4b0d14b6d985a02e2be15e0a6ba2c
        ports:
        - containerPort: 9000
