apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: dev
spec:
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 8080          # port inside cluster
      targetPort: 8080  # port your app listens on   
  type: LoadBalancer
