apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: pt
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        # This will be replaced by your CI pipeline IMAGE variable
        image: 281762848319.dkr.ecr.us-east-1.amazonaws.com/myapp@sha256:00900f2fa02e71b53c79713948e831559f028a4d6e9f2866c3b12313d7856dfe
        ports:
        - containerPort: 9000
        readinessProbe:
          httpGet:
            path: /health
            port: 9000
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 9000
          initialDelaySeconds: 30
          periodSeconds: 10
